

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span3">
        {% include 'modulesUsed/navigation.html.twig' %}
      <!--  include modulesUsed/utilisateurhtmltwig %}-->
        </div>
        <div class="span9">
            <ul class="thumbnails">
                {% for stock in stocks %}
                {% if stock.stockCritique == 0 %}

                <div class="example-wrapper">

                <li class="span3">
                    <div class="thumbnail">
                        <img src="{{ stock.produit.getImage }}" alt="ALL4SPORT" width="200" height="200">
                        <div class="caption">
                            <h4>{{ stock.produit.nom }}</h4>
                            <p>{{ stock.produit.prix }} €</p>
                            <a class="btn btn-primary" href="{{ path('app_presentation', { 'id' : stock.produit.id}) }}">Plus d'infos</a>
                            <a class="btn btn-success" href="{{ path('app_ajouterPanier', {'id' : stock.produit.id}) }}">Ajouter au panier</a>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            

        </div>
    </div>
</div>
{% endblock %}
